@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Presentation.WebApplication.Resources;
@inject LocalizationService LocalizationService
<script>
    function SelectLang(langs) {
        $.post('Base/SetLanguage',
            { langs: langs },
            function (data, status, jqXHR) {
                location.reload();
            })
    }


</script>
<div class="dropdown d-inline-block">
    <button type="button" class="btn header-item waves-effect"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @if (ViewBag.Language == "en")
        {
            <img id="header-lang-img" src="~/assets/images/flags/us.jpg" alt="Header Language" height="16">
        }
        else
        {
            <img id="header-lang-img" src="~/assets/images/flags/vi.png" alt="Header Language" height="16">
        }
    </button>
    <div class="dropdown-menu dropdown-menu-end">
        <!-- item-->
        <a onclick="SelectLang('vi')" class="dropdown-item notify-item language">
            <img src="~/assets/images/flags/vi.png" alt="user-image" class="me-1" height="12"> <span class="align-middle">@LocalizationService.GetLocalizedHtmlString("VN")</span>
        </a>
        <!-- item-->
        <a onclick="SelectLang('en')" class="dropdown-item notify-item language">
            <img src="~/assets/images/flags/us.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">@LocalizationService.GetLocalizedHtmlString("EN")</span>
        </a>
    </div>
</div>
