@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="navbar-brand-box">
    <a asp-action="HomePage" asp-controller="Redirect" class="logo logo-dark">
        <span class="logo-sm">
            <img src="~/assets/images/logo.svg" alt="" height="22">
        </span>
        <span class="logo-lg">
            <img src="~/assets/images/logo-dark.png" alt="" height="17">
        </span>
    </a>

    <a asp-action="HomePage" asp-controller="Redirect" class="logo logo-light">
        <span class="logo-sm">
            <img src="~/assets/images/logo-light.svg" alt="" height="22">
        </span>
        <span class="logo-lg">
            <img src="~/assets/images/logo-light.png" alt="" height="19">
        </span>
    </a>
</div>